# grpahformer
/graphformer/src/__pycache__/
/graphformer/data
/graphformer/.venv

# transformer
/transformer/.venv
/transformer/model/__pycache__
/transformer/model/models/__pycache__
/transformer/model/embeddings/__pycache__
/transformer/model/layers/__pycache__
/transformer/model/blocks/__pycache__

# learning_to_simluate
/learning_to_simulate/.venv

#tgn
/tgn/.venv
/tgn/.vscode